.father__drop{
    visibility: hidden;
    transition: visibility 0.5s ease;
}

.dropdown{
    width: 39rem;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.hover-link{
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: fit-content;
}

.link--menu{
    color: black;
    transition: color 0.2s ease-in-out;
}

.link--menu:hover{
    color: #fff;
}

.hover-link::before{
    content: '';
    background-color: #082032;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    transition: all 0.7s ease-in-out;
}

.hover-link:hover::before{
    width: 100%;
}

.category__top:hover{
    background-color: grey;
}


