.item__cart{
    border-bottom: solid gray 2px;
}

.picture img{
    width: 5rem;
    height: 80px;
}

.titleItem__cart{
  width: 300px;
}

.item__precio{
    width: 200px;
}

.contain__btn-danger:hover{
    background-color: rgb(178, 173, 173);
}

.contain__btn-danger:hover .boton__danger{
    color: red;
}

.boton__danger{
    transition: color 0.3s;
    color: rgb(172, 9, 9);
}