.item-count{
    background-color: #082032;
}

.botonAdd{
    border: none;
    background-color: bisque;
}

.botonAdd:hover{
    background-color: white;
}

.button-op{
    background-color: rgb(150, 150, 231);  
    transition: background-color 0.4s ease-in-out;
}

.button-op:hover{
    background-color: rgb(91, 91, 163);    
}