.producto{
    background-color: #252c32;
}

.container__productoImg{
    height: 300px;
}

.producto__contenido{
    gap: 1rem;
}

.btn__ver{
    transition: all 0.2s;
}

.btn__ver:hover{
    color: white;
    background-color: black;
}

@media screen and (min-width: 768px){
    .producto__contenido{
        gap: 0;
        justify-content: space-around;
    }
}