.producto{
    min-width: 600px;
    height: 150px;
    background-color: #252c32;
}

.img-resp{
    width: 220px;
}

.producto__contenido .descrip{
    font-size: 0.8em;
}

.btn__ver{
    transition: all 0.2s;
}

.btn__ver:hover{
    color: white;
    background-color: black;
}