.App{
    min-height: 100vh;
    position: relative;
    padding-bottom: 152px;
}

p, h2{
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    min-width: max-content;
}

button{
    border: none;
    padding: 0.4em ;
}

.btn.disabled{
    background-color: white;
}

